TEST_DATABASE_URL=sqlite:///./data/giffinder.db
POSTGRES_URL=postgres://user:password@localhost:5432/giffinder
SQLITE_URL=sqlite:///<your_local_path>/giffinder.db
FRAME_RATE_DEFAULT=24.0
MEDIA_PATH=<your_local_path>/media

